<a href="http://en.wikipedia.org/wiki/{{wiki}}" class="p-skill">{{text}}</a>

{{!--
From http://microformats.org/wiki/microformats-2#h-resume:
Note: skill has a proposed expansion into competency with explicit summary, rating and/or duration components. Based on existing real world adoption, we should consider an h-competency vocabulary with p-summary, p-rating, and dt-duration properties.
--}}
