---
title: Markus Mårtensson, 2008 in retrospect
---
<article>
<div class="article wrapper">
  <section>
    <header>
      <h1>2008 in retrospect</h1>
    </header>

    <section>
      <header>
        <h2>Marriage</h2>
      </header>

      <p> A very typical conversation since we moved apart in 2003 could look
          something like:</p>

      <blockquote>
      – So, when are you two finally getting married? <br />
      – Well, we really should move in together again first. You know, to make planning easier.
      </blockquote>

      <p> At one point the conversation was actually held at knife point. Even if it
          was unintentional, it did make the case stronger.</p>

      <p> By the end of 2007, we finally both had jobs in the Stockholm
          area and a place to call home. The well-worn argument became invalid and we
          had a discussion that went a little like:</p>

      <blockquote>
      – So, when <em>should</em> we finally get married? <br />
      – Well, we really should do it before the baby arrives. You know, to make planning easier.
      </blockquote>

      <p> A small ceremony and reception for our famililes was held on March 29th at
          <a href="http://www.edsbackakrog.se/" rel="external">Edsbacka Krog</a>. The
         food was delicious and they really helped make our day special.</p>

      <p> I am now a happily married man!</p>
    </section>
    <section>
      <header>
        <h2>Baby</h2>
      </header>

      <p> For every week that passes, we check the pregnancy calendar to find out
          what the little guy looks like. The size of a honey melon? Cool.</p>

      <p> Early morning May 27th. Two very tired parents and the most beautiful
          baby boy in entire world. Of course, all parents say that their baby is
          the most perfect being to every have lived. They are all wrong though,
          except for us.</p>

      <p> I am now a proud father!</p>
    </section>
    <nav>
      <a href="index.html" a title="Back"><i class="icon-circle-arrow-left icon-4x"></i></a>
    </nav>
  </section>
</div>
</article>
