---
title: Markus Mårtensson, 2009 in retrospect
---
<article>
<div class="article wrapper">
  <section>
    <header>
      <h1>2009 in retrospect</h1>
    </header>

    <section>
      <header>
        <h2>New Apartment</h2>
      </header>

      <p> Our small apartment had its advantages. Good communications and plenty
      of shops nearby. With the railway passing right next to the building,
      there was no shortage of trains for our son to watch. And he watched,
      and watched.</p>

      <p> During the summer we decided that it was probably time to
      sacrifice some of the benefits of living centrally and move a few
      kilometers out. We had discussed from time to time over the course
      of a year but it finally took an aggresive real estate agent to
      make us take the step.</p>

      <p> Having a safe place for the kid to play, away from traffic. Having
      an elevator to unburden the wife, who has taken up excruciating
      back pains as a pastime. Having a larger apartment, with space
      enough for two bedrooms and an office. Incentive enough.</p>

      <p> Looking for an apartment is always a chore, but it really did pay off.
      We now live in a new-built house in a neighbourhood touted as the
      kids district. There is an awesome playground. Hardly any traffic,
      except for the machines involved in building the house across the
      street - instead of trains, the son now gets to see excavating machine
      and trucks. We love it here.</p>
    </section>

    <section>
      <header>
        <h2>Day Care</h2>
      </header>

      <p> Before deciding to move, we decided on a day care center for our son.
      This was not a decision taken lightly - we did extensive research.
      We signed up on the waiting list and were happy to find that we were
      given a place at the first center on our list. Yay for us!</p>

      <p> After deciding to move, we figured the center would be too far away and
      ran a quick check on the neighbourhood centers. Within a couple of days
      we had picked one and, as luck would have it, they had a spot for us!
      So much for extensive research.</p>

      <p> The kid loves being at the day care center - it is nearly impossible at
      times to drag him away. We have all grown very fond of both the staff
      and the other children.</p>

      <p> The rest of the year we spent being sick from the various deceases
      the son brought home.</p>
    </section>
    {{>back}}
  </section>
</div>
</article>
