---
title: Markus Mårtensson, Catching up to 2013
---
<article>
<div class="article wrapper">
  <section>
    <header>
      <h1>Catching up to 2013</h1>
    </header>

    <section>
      <header>
        <h2>Raising a Kid</h2>
      </header>

      <p> Since my last update, the wife and I have been busy working and raising our 
      wonderful son who has, at the time of writing, just turned five. Legos, duct 
      tape, paper and scissors - we’ve got ourselves an engineer in training.</p>  
    </section>

    <section>
      <header>
        <h2>New Job</h2>
      </header>

      <p> After I decided to leave my previous employer Ardendo (later merged into Vizrt)
      and go shopping for a new job, I was approached by one of the co-founders who
      had left the company (along with his wife) a couple of years prior to run a
      small startup.</p>

      <p> Ardendo produced a leading media asset management solution mainly for
      large broadcasters, along with some supporting applications. The merger with
      Vizrt added a suite of visualization software. The startup I was asked to join,
      Mayam, added a complementory set of tools to the mix which allowed for
      efficient third party integration and task list management.</p>

      <p> Being able to remain in the broadcasting industry, while at the same
      time working on a new product in an entirely different tool chain with a small
      group of friends was too good of an opportunity to pass up. I now find myself
      the lead software architect at Mayam.</p>
    </section>

    <section>
      <header>
        <h2>New Baby</h2>
      </header>
 
      <p> The summer of 2012 was one of joy as my wife gave birth to our baby girl. 
      As with the son, my wife took the first months off since she has the natural
      talent for breast feeding that i sorely lack. As spring came, it was finally
      my turn to handle baby <a href="http://en.wikipedia.org/wiki/Baby_food"
      >I</a>/<a href="http://en.wikipedia.org/wiki/Diapers">O</a>.

      <p> She is now a little over a year old and full of energy. Vacationing up north
      with our grandparents, she took her first steps (the son one-upped her by 
      learning to ride the bicycle). </p>
    </section>
    {{>back}}
  </section>
</div>
</article>
