---
title: Markus Mårtensson, My Rise to Geekdom
---
<article>
<div class="article wrapper">
  <section>
    <div class="hasaside">
    <header>
      <h1>My Rise to Geekdom</h1>
    </header>

    <p>This story covers the nerdier aspects of my early life, leaving
       healthy activites such as sports, music and social interaction
       completely out of the picture.</p>

    <p><aside><img src="images/geekdom/flammable.png"
         alt="Putting the flammable symbol on liquids inspire great deeds"></aside>
       As a little nerdling I grew up with a fondness for the sciences;
       chemistry, mechanics and electronics. I liked taking things apart
       (not necessarily being able to put them back together) and managed
       a fair share of inventions of my own.</p>

    <p><aside><img src="images/geekdom/lego.jpg"
         alt="Lego, keeping the world supplied with engineers"></aside>
       My room was not nearly as accessible as my mother would have wanted,
       at one point I had a dozen pieces of string by my bed using which I
       could control most aspects of the surroundings. It is amazing what
       you can do with a few metres of string, tape and
       <a href="http://en.wikipedia.org/wiki/Lego">Lego</a> blocks.</p>

    <p>I had an early fascination with television. Not the programming but
       the technology itself, the two channels available seldom catered to
       kids. I dreamt of being able to have my own shows on TV, to control
       what was being displayed.</p>

       <p><aside><img src="images/geekdom/coleco.jpg"
         alt="ColecoVision"></aside>
       A couple of the more special days of my childhood involved my father
       bringing home a magical black box. A thing of wondrous, exciting
       adventure. A rental
       <a href="http://en.wikipedia.org/wiki/Coleco_Vision">Coleco Vision</a>
       featuring classics such as
       <a href="http://en.wikipedia.org/wiki/Montezuma%27s_Revenge_(video_game)">Montezuma's Revenge</a>.
       <aside><img src="images/geekdom/progtvg.jpg"
         alt="The PTVG, a cheap copy of the SD 50"></aside>
       At one point we also had our own <a href="http://www.pong-story.com/sd050.htm">SD-050</a> based black and white
       system with not only controllers sharp enough to make your hands blead but also a
       <a href="http://www.pong-story.com/pc-50x.htm">PC-501</a> cartridge, giving us access to ten
       <a href="http://en.wikipedia.org/wiki/Pong">Pong</a> derivatives, each
       mimicking a sport. These early gaming consoles gave me at least limited
       power over the TV.</p>

    <p><aside><img src="images/geekdom/c64.jpg"
         alt="Commodore - great engineer, bad management"></aside>
       Given a taste, I quested on. My brother had a friend with a
       <a href="http://en.wikipedia.org/wiki/C64"><abbr title="Commodore Business Machines Model number 64">C=64</abbr></a>
       on which he showed me how to draw the Swedish flag. Complete control
       over the TV screen. The holy grail as it were.</p>

    <p>My father studied programming back in the days when <a href="http://en.wikipedia.org/wiki/Punchcards">punch cards</a>
       were all the rage and figured he could pass some of his wisdom on to me
       and my older brother. We became one of the first families in the
       neighbourhood with a
       <a href="http://en.wikipedia.org/wiki/C128"><abbr title="Commodore Business Machines Model number 128">C=128</abbr></a>.
       Mind-boggling 128kB of memory and a new powerful version of
       <a href="http://en.wikipedia.org/wiki/BASIC"><abbr title="Beginner's All-purpose Symbolic Instruction Code">BASIC</abbr></a>
       which had commands for drawing graphics.</p>

    <p>After a week of family time around
       <a href="http://en.wikipedia.org/wiki/Summer_Games">Summer Games</a> and
       <a href="http://en.wikipedia.org/wiki/Winter_Games">Winter Games</a>, I
       picked up the BASIC manual.
       <aside><img src="images/geekdom/bathandle.jpg"
         alt="Command Control Bat Handle Joystick - Best of the best"></aside>
       Two of my first games were <em>Baloon attack</em> and <em>Karate Kid</em>.
       The first was a two player game, one player dropping sand bags and the
       other armed with bow and arrows). The other game was loosely based on the
       Karate Kid movie. Since only my brother was old enough to see it, I had
       to make some assumptions. It ended up being a fight against a bull,
       using fists, kicks and throwing stars (having seen the movie in later
       years, it would seem my early assumptions were a bit flawed). In order
       to make better use of the graphics, I taught myself basic trigometry
       - a skill unexpectedly useful for impressing the ladies.</p>

    <p>This was not my first experience with BASIC. Cue
       <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/FlashbackEffects">stereotypical flashback</a>.
       <aside><img src="images/geekdom/automan.jpg"
         alt="Automan - a show to love"></aside>
       There was one television show I got to see that has meant more to me
       than virtually any cultural expression since -
       <a href="http://en.wikipedia.org/wiki/Automan">Automan</a>. A desk
       copper named Walter manages to create a holographic projection of the
       perfect police officer using the station computer, draining the city
       power supply in the processes. Only recently having learned how to read,
       I went to the library. Imagine my disappointment when the BASIC book
       I found had no listing for holography in the index.</p>

    <p>Time passed and hardware upgrades rolled in. My parents will never
       forget the tears of joy brought on by a
       <a href="http://en.wikipedia.org/wiki/Commodore_1571"><abbr title="Commodore 1571 disk drive">1571</abbr></a> and an
       <a href="http://www.richardlagendijk.nl/cip/category/printer/mps_1000"><abbr title="Commodore MPS 1000 dot matrix printer">MPS 1000</abbr></a> on Christmas eve.</p>

    <p>Using my <a href="http://en.wikipedia.org/wiki/Final_Cartridge">Final Cartridge III</a>
       I got a taste for the
       <a href="http://en.wikipedia.org/wiki/Amiga_Workbench">Amiga Workbench</a>
       environment. It was also a great help introducing me to
       <a href="http://en.wikipedia.org/wiki/Machine_code">machine code</a>
       and later
       <a href="http://en.wikipedia.org/wiki/Assembly_language">assembler</a>
       programming. Using the built-in
       <a href="http://en.wikipedia.org/wiki/Machine_code_monitor">monitor</a>
       I borrowed scroll text and music player code and presented
       "Happy birthday" demos to proud parents.</p>

    <p><aside><img src="images/geekdom/amiga500.jpg"
         alt="Amiga 500 - a box ful of delicious chips"></aside>
       With my first real <a href="http://en.wikipedia.org/wiki/Amiga">Amiga</a>
       (a model 500), I expanded my programming skills to include C, systems
       programming and GUI development.
       I never made it big on the demo scene but made some contributions with
       friends (we managed a 64 pixel scroller within 5
       <a href="http://en.wikipedia.org/wiki/Amiga_Original_chipset#Copper">copper</a> lines!).</p>

     {{!--
     <p>My choice of school proved to be a good one. I made many friends and
        even formed a band of sorts. We wrote songs about people with funny
        names falling in love and dying horribly, the text saturated with
        halting rhymes. The planned genre was industrial schlager but we
        ended up with pop ballads requiring a minimum of guitar skill.</p>
     --}}

     <p>Keeping the Amiga for entertainment, I got myself a Blue Chip PC
        Popular XT 8088-2
        <aside><img src="images/geekdom/bluechip.jpg"
          alt="Blue Chip PC Popular XT"></aside>
        to get a system compatible with the setup at school. It featured
        a turbo button which could be used to toggle clock speeds between
        8Mhz and 4.77Mhz. Some application back then actually worked very
        poorly with the lightning fast speeds you got from 8Mhz.</p>

     <p>I spent most of by PC time hacking
        <a href="http://en.wikipedia.org/wiki/Turbo_pascal">Turbo Pascal</a>
        with embessed assembler, working myself through an early release of
        <a href="http://www.ctyme.com/rbrown.htm">Ralf Brown's Interrupt List</a>
        and Pascal snippets off the
        <a href="http://en.wikipedia.org/wiki/FidoNet">FidoNet</a>
        equivalent of
        <a href="http://en.wikipedia.org/wiki/Usenet">Usenet</a>
        used before newfangled technologies such as web forums and blogs.
        By this time I got my first email address via a FidoNet gateway.
        Usually, a mail did not take more than a couple of nights to be
        delivered.</p>

     <p><aside><img src="images/geekdom/borland.svg"
       alt="Borland, makers of Delphi and Turbo Pascal"></aside>
        By the time I graduated and left for military service, I had upgraded to
        a system based on the 486 SX. With enough power to run Windows 3.11 and
        <a href="http://en.wikipedia.org/wiki/Delphi_programming_language">Delphi</a>
        I invested some time automating the tedious work at the garrison watch
        earning me a healthy infusion of cash.</p>

     <p>After demob I worked a few months to pass time before starting my
        first year at the university. This was also the last few months
        of active membership at the local computer club.</p>

     <p><a href="http://www.eagle.y.se/">Eagle computing</a> started off
        as an association called TGEH, The Graphic Equalizer Hackers. We
        rented a hall on saturdays once every month or so and got together
        and basically had what surmounted to a LAN party, only we used
        <a href="http://en.wikipedia.org/wiki/Floppynet">Floppynet</a>
        rather than
        <a href="http://en.wikipedia.org/wiki/Ethernet">Ethernet</a>.
        <aside><img src="images/geekdom/rgb_lenses.jpg"
          alt="Red, green, and blue lenses. Attach to a video camera and *BLAMMO* - a color still image"></aside>
        People showed off demos and hardware hacks. I remember fondly my
        sitting 5 minutes in front of a video camera in order to get a
        digital image of myself on the Amiga. Keeping the eyes from
        blinking while scanning the lines where they were visible was a
        pain. </p>

     <p>Later on, we managed to rent a small place in which we keep a
        <a href="http://en.wikipedia.org/wiki/Bulletin_board_system"><abbr title="Bulletin Board System">BBS</abbr></a>
        running, along with a few other machines. A place to hang out
        after school. We outgrew the place soon enough and got ourself
        a huge place - a garage complete with weird fluids coming out
        of the walls. <span class="noprint">Check out
        <a class="download" href="images/geekdom/jimmy_robert_mortis.jpg">this</a>
        image from the restoration project (I am the one jumping in the back).</span></p>

     <p>Having a big place allowed us to move in more hardware. We got
        a pretty large collection of
        <aside><img src="images/geekdom/digital.png"
          alt="Digital Equipment Corporation"></aside>
        <a href="http://en.wikipedia.org/wiki/Digital_Equipment_Corporation">DEC</a>
        boxen such as
        <a href="http://en.wikipedia.org/wiki/VAX">VAX</a> machines running
        <a href="http://en.wikipedia.org/wiki/Ultrix">Ultrix</a>, a UNIX
        variant. I think we even had a
        <a href="http://en.wikipedia.org/wiki/Programmed_Data_Processor">PDP-11</a>
        at one point.</p>

     <p>We built and played
        <a href="http://en.wikipedia.org/wiki/Multi-User_Dungeon"><abbr title="Multi-User Dungeon">MUD</abbr></a>s, the text equivalent to the graphics
        intensive
        <a href="http://en.wikipedia.org/wiki/Mmorpg"><abbr title="Massively Multiplayer Online Role-Playing Game">MMORPGs</abbr></a> of today.
        We taught ourselves UNIX and networking. We even managed to get the
        municipality to allow us an aerial fiber cable across the street
        (fun day playing at the roof of the municipal building). With it,
        we became one of the first places in town with Internet access.</p>

     <p>The day finally came when I moved out and headed to the university.
     <aside><img src="images/geekdom/umu.jpg"
       alt="Umeå University"></aside>
        With a 10 Mbit/s internet pipe fed into my dorm room, life was good.
        Given the density of like-minded people, I was bound to make friends.
        I still hang out with a lot of them. The quality of the courses was
        with few exceptions very good and I learned a lot that has come in
        handy during the course of my professional life.</p>

     <p>Anything worth doing is worth overdoing - words to live by. Computer
        lab excercises tended to have an underwhelming scope. A simple dice
        game excercise with trivial AI quickly gets improved with a network
        protocol, chat (including AI chat) and the possibility to cheat. A
        bit of sleep traded for an extra challenge, a fun way of learning a
        little more. I recall an element of competition was involved.</p>

     <p>The <a href="http://www.acc.umu.se/">Academic Computer Club</a>
        proved to be more than a social venue and a cheap service provider
        for email and web hosting.
        <aside><img src="images/geekdom/acc.svg"
          alt="ACC - formerly known as TSDF"></aside>
        Taking an active part in the club as board member and sysadmin
        allowed me to learn a great deal about UNIX administration,
        free and open source software and the running of a society.
        Since my first employments were in the city, I remained an
        active member. To this day, I still have a token presence.</p>

     <p>One of the highlights of my post graduate years at the
        university was building a
        <a href="http://en.wikipedia.org/wiki/Top_500">Top 500</a>
        <a href="http://en.wikipedia.org/wiki/Supercomputer">supercomputer</a>.
        We built 120 linux boxes with a really fast
        <a href="http://en.wikipedia.org/wiki/Dolphin_Interconnect_Solutions">interconnect</a>.
        <span class="noprint">Check out
        <a class="download" href="images/geekdom/mortis_nicke.jpg">this</a>
        exciting photo from a screw sorting session or
        <a class="download" href="images/geekdom/mortis_maswan_nicke_stric.jpg">this</a>
        one, depicting nerds by the racks.</span></p>
    {{>back}}
    </div>
  </section>
</div>
</article>
